.navbar-nav > li {
  @media (min-width: 768px) {
    float: left;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
// table
.box-table {
  .head-table {
    position: relative;
    padding: 10px 0 20px 0;
    .card-header-actions {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.isofh-error{
  color: red;
}
.form-create-update{
  .news-title{
    input{
      width: 85%;
      padding: 3px 5px;
      border-radius: 2pt;
      border: 1px solid;
    }
  }
}
.box-table{
  input{
    webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum', "tnum";
      padding: 4px 11px 4px;
      position: relative;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
      transition: border 0.3s, -webkit-box-shadow 0.3s;
      transition: border 0.3s, box-shadow 0.3s;
      transition: border 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
}

.ant-modal-root{
  .ant-modal-mask{
    background-color: rgba(0, 0, 0, 0.06);
  }
  .ant-modal{
    .ant-modal-content{
      box-shadow:none !important;
      -webkit-box-shadow:none !important;
    }
  }
}
