.navbar-nav > li {
  @media (min-width: 768px) {
    float: left;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}
// table
.box-table {
  .head-table {
    position: relative;
    padding: 10px 0 20px 0;
    .card-header-actions {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
