.search-type {
    .search-input-text {
        position: relative;
        display: flex;
        width: 96%;
        background: #ffffff;
        border: 0.5px solid #2f80ed;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px !important;
        margin-bottom: 10px;
        outline: 0;
    }
}
.topics-input {
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 13px !important;
    align-items: center;
    div {
        &:first-child{
            padding: 0 !important;
        }
        @media (max-width:767px) {
            padding: 0 !important;
        }
        span {
            font-weight: bold;
            font-size: 13px;
            line-height: 23px;
            color: #2F80ED;
            padding-right: 10px;
            @media (max-width:1200px) {
                padding-right: 5px;
            }
        }
    }
    .search-input-topics {
        border: none;
        font-size: 14px;
        width: 100%;
        color: #757575;
    }
    .search-input-topics:hover, .search-input-topics:focus {
        border: none !important;
        outline: 0;
    }
}
.topics-input.disabled-input {
    background-color: #dddddd33;
}
input:disabled {
    background: none;
}
.topics-input:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.search-type-disabled {
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 11px 2px 10px !important;
    align-items: center;
    font-size: 13px;
    background-color: #dddddd33;
    .row {
        div {
            span {
                font-size: 13px;
                line-height: 23px;
                color: #2F80ED;
                padding-right: 10px;
                font-weight: 600;
            }
        }
    }
}
.col-md-2 {
    .search-text-field {
        width: 100%;
        max-width: initial;
    }
}
.search-text-field {
    display: inline-block;
    padding: 8px 0px 7px 14px;
    max-width: 200px;
    .title-search-input {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;;
    }
    .search-input-custom {
        padding: 6px 7px 6px 12px;
        font-size: 13px;
        font-weight: 600 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #0000003b;
        color: black;
        border-radius: 4px;
        width: 100%;
        margin-top: -1px;
    }
    .search-input-custom::placeholder {
        color:  #000 !important;
        opacity: 0.8;
        font-weight: 400 !important;
        font-size: 13px !important;
    }
    .search-input-custom:focus {
        background-color: #fff;
        border-color: #20a8d8e3; 
        outline: 0;
        box-shadow: 0 0 2px 1px #20a8d8e3;
    }
    input:disabled {
        background-color: #e4e7ea;
        opacity: 1;
        border: 1px solid #0000003b;
    }
}