
body {
  /* font-family: 'Open Sans', sans-serif !important; */
  font-size: 14px !important;
  color: #000 !important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
}

table td {
  vertical-align: middle !important;
  color: black !important;
  padding: 2px 7px 2px 9px !important;
}
table tr {
  height: 33px !important;
}
table th {
  color: #fff !important;
  padding: 4px 7px 4px 9px !important;
}
textarea{
  padding: 4px 8px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-link {
  color: #61dafb;
}
.pagination-custom  div:nth-of-type(2){
  flex-shrink: inherit;
}
.pagination-custom td {
  padding: 0px !important;
  padding-bottom: 2px !important;
}
.pagination-custom {
  overflow: hidden;
  border: 1px solid #ddd;
  border-top: 0;
  background-color: #08719133 !important;
}
.week label {
  font-size: 16px !important;
}
.select__control {
  min-height: 33px !important
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.col-md-6 {
  width: 50%;
}
.col-md-12 {
  width: 100%;
} */
/* .card-body{
  overflow-y:scroll;
} */
.page-header::after {
  content: "";
  clear: both;
  display: block
}
.normal-input div div div {
  margin-left: 15px;
}

.error-text {
  color: #f44336;
  font-size: 13px;
  clear: both;
}
.date-picker-style-header > div > div > div {
  top: 13px;
}
.date-picker-style-header > div > div > div > input {
  width: 200px;
  border: 1px solid #0000003b;
  height: 32px;
}
.date-picker-style-header > div > div > div > input:hover{
  border: 2px solid #2198bc
}
.page-wrapper table {
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 20px !important;
}
.page-wrapper tr td:last-child {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.page-wrapper tr th:last-child {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.select-title-search {
  margin-top: 7px;
  margin-bottom: -14px !important;
}
.checkbox {
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
span.label-error {
  font-size: 13px;
  height: 18px;
  display: block;
  margin-top: 8px;
}
.app-body{
  overflow-x: auto !important;
}
.page-wrapper {
  padding: 6px 30px !important;
  padding-top: 24px;
  position: relative;
  overflow-x: unset !important;
}
.header>header{
    background: white !important
}
.logo-img {
  display: inline-block;
  height: 38px;
  float: left;
  margin:auto;
}
.d-md-down-none{
  margin-left: auto;
}
.d-lg-none:focus, .d-md-down-none:focus{
    outline: 0;
}
.icon-down-none{
    color: #3333339c !important;
}
.logo-isofh {
  height: 55px !important;
  background-color: #fff !important;
  width: 200px !important;
  padding: 5px;
  display: flex;
  align-items: center;
}

.slider-item img{
  max-height: 290px;
}
.sidebar .sidebar-nav{
  width: 199px !important;
  background: rgba(228, 229, 230, 0.1);
  background: #05232c;
  color: #fff;
  /* transition: unset !important; */
}
.sidebar{
  transition: unset !important;
  
}
.sidebar .nav{
  width: 100% !important;
}
.sidebar .nav-title, .sidebar .nav-link {
  font-size: 16px;
}
.sidebar .nav-link {
  padding: 9px 0 8px 18px !important;
  transition: 0.3s ease;
  background-repeat: no-repeat !important;
  background-position: 15px center !important;
  font-size: 14px !important;
  color: #dce1e6 !important;
}
.sidebar .nav-link2 {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-repeat: no-repeat !important;
  background-position: 49px center !important;
  font-size: 13px !important;
  color: white !important;
  display: block;
  font-weight: 300;
  padding: 11px 0 11px 35px !important;
}
.sidebar .nav .nav-link2.active{
  background: #193a43 !important;
}
.sidebar .nav .nav-link2.active .icon-menu{
  color: #20a8d8 ;
}
.button-primary {
  color: #fff!important;
  right: 12px;
  margin-left: 0!important;
  position: absolute!important;
  z-index: 1065;
  padding: 0!important;
  top: 12px!important;
  display: none !important;
}
.ps-container .button-primary{
  display: block !important;
}
.menu-ul{
  padding: 0;
}
li.menu-left {
  list-style-type: none;
}
.sidebar-minimized .sidebar .nav-item:hover .nav-link{
  background-color: #20a8d8  !important;
  width: 250px;
}
.menu-ul-hide .menu-ul{
  display: none !important;
}
.ps-container .menu-ul-show .menu-ul{
  display: block !important;
}
.sidebar-minimized .menu-ul-show .menu-ul{
  display: none !important;
}
.sidebar-minimized .sidebar .nav-item:hover .menu-ul{
  display: block !important;
  width: 200px;
    background: #05232c;
    margin-left: 49px;
    position: absolute;
}
.sidebar-minimized .sidebar .nav-item:hover .nav-link2{
  padding: 11px 0 11px 17px !important;
}
li.menu-left:hover{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  font-weight: 700;
}
li.menu-left:active{
  background-color: #f1f5f833  !important;
  color: rgb(60,185,239) !important;
  font-weight: 700;
}
.icon-menu{
    padding-right: 5px;
    width: 22px !important;
    color: #73818f;
    margin-bottom: -7px;
    transition: width 0.2s ease;
}
.icon-menu2{
  width: 22px !important;
  padding-right: 5px;
}
.sidebar-minimized .icon-menu{
  width: 25px !important;
  margin-right: 15px;
}
.sidebar .nav .nav-link.active .icon-menu , 
.sidebar .nav .nav-link2.active .icon-menu2{
  color: #20a8d8 ;
}
.sidebar .nav-item .nav-link:hover .icon-menu{
 color: #fff  !important;
}
.isofh-page{
  float: right;
}
.form-control{
  height: 32px !important;
  margin: 3px 0;
  border: 1px solid #c3c9cf !important;
}

.isofh-page .pagination .page-item:focus {
  outline: 0;
}
.size-of-page {
  height: 35px;
  width: 85px;
}

.sidebar-minimized .sidebar .sidebar-nav,
.sidebar-minimized .sidebar .nav-item{
    width: 100% !important;
}
.sidebar-minimized .sidebar .nav-link{
    padding: 12px 0 11px 13px !important;
}

.sidebar .nav .nav-link.active,
.sidebar .nav-item .nav-link:hover{
    color: #fff !important;
}
.sidebar .nav .nav-link.active{
    background: #193a43 !important;
}

.sidebar .nav-item .nav-link:hover {
    background-color: #20a8d8  !important;
}

.ol.breadcrumb {
  margin-bottom: 0px;
}
.breadcrumb-item + .breadcrumb-item{
  padding-left: 6px;
}
.breadcrumb-item + .breadcrumb-item::before{
  padding-right: 6px;
}
.page-link:focus{
  box-shadow: none !important;
  border: 1px solid #007bff40 !important;
}
.page-link:focus{
  box-shadow: none !important;
}
.page-link:hover{
  z-index: 2;
  color: #167495;
  text-decoration: none;
  background-color: #e4e7ea;
}

.nav-link.dashboard{
  background-size: 24px !important;
}
.header-fixed.sidebar-fixed .app-body {
  margin-top: 55px !important;
}
.header-fixed.sidebar-fixed{
  overflow: unset !important;
   padding-right: 0 !important;
}
.color-text-validator > label {
  font-weight: 600;
  font-size: 17px;
}
html:not([dir="rtl"]) .sidebar {
  margin-left: -200px !important;
}
 html:not([dir="rtl"]) .sidebar-lg-show .sidebar{
  margin-left:  0 !important;
  background: #193a43;
}

html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer{
  margin-left: 50px !important;
}
.main{
  background: #e4e5e6;
}
.main-fuild{
  padding: 0 !important;
  margin-top: -14px;
  overflow: inherit !important;
}
.main-fuild .main-index>div{
  margin: 0 !important;
}
.font-icon{
  margin-right: 7px;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
table thead tr:first-child, .schedule-page.schedule-daily table thead tr:first-child {
  background-color:#165e77;
  border-top: 1px solid rgb(151,151,151);
  height: 42px !important;
}
table thead tr.table-title{
  background-color:#165e77;

}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
}
@-webkit-keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
table{
  border-top-left-radius: 6px;
  overflow: hidden;
  border-top-right-radius: 6px;
}
table thead th {
  font-size: 14px !important;
  font-weight: 600 !important;
  height: 42px !important;
  border: 1px solid #005974 !important;
  line-height: 33px;
}
table tbody td {
  font-size: 14px !important;
}
/* table tbody tr:nth-child(2n){
  background-color: rgb(246,249,251);
} */
.user-info-table {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  margin: auto;
}
.mb-20{
  margin-bottom: 20px;
}
.news-title{
  margin-bottom: 18px !important;
}
.color-tags {
  border: 1px solid #a9a9a9 !important;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 18px;
}
.color-tags:focus{
  outline: #000 1px;
  border-color: #000;
}
.color-tags span span {
  color: #000;
  background-color: #d7d7d7;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin: 2px 4px;
  padding: 1px 5px;
}
.color-tags span input{
  margin: 0;
  width: 250px !important;
}
.input-image {
  width: 91%;
  margin-left: 9%;
  border: 1px solid #a9a9a9;
  margin-top: -6.5%;
  margin-bottom: 18px;
  padding: 5px 7px;
  border-radius: 4px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-change-avatar:hover{
  background: none !important;
}
.button-change {
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 14px !important;
  text-transform: none !important;
  border: 1px solid #02c39a !important;
  color: #02c39a !important;
  border-radius: 3px !important;
  width: 160px;
  margin-top: 14px !important;
}
.button-change:hover{
  background-color: #02c39a !important;
  color: #fff !important;
}
.button-change-update {
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 14px !important;
  text-transform: none !important;
  border: 1px solid #2198bc !important;
  color: #2198bc !important;
  border-radius: 3px !important;
  width: 140px;
  margin: 10px 6px !important;
}
.button-change-update:hover{
  background-color: rgb(33,152,188) !important;
  color: #fff !important;
}

.info-main{
  padding: 10px 0;
}
.SelectValidator-style {
  width: 100%;
  margin: 0 !important
}
.SelectValidator-style > div {
  padding-left: 5px;
  height: 100%;
  border: 0;
}
.SelectValidator-style > div >input{
  padding: 8px 3px;
  font-size: 14px !important;
}
.date-picker-style-date input {
  font-size: 14px;
}
.style-table-new {
  margin-top: 0 !important;
}
.search-input {
  width: 100%;
  margin: 0  !important;
}
.label-detail {
  font-weight: 400;
}
.color-border{
  border-right: 2px solid rgb(33,152,188);
}
.name-file {
  color: #2198bc;
  font-weight: 600;
  word-break: break-all;
  text-decoration: underline;
  cursor: pointer;
}
.file-upload {
  margin-bottom: auto;
  margin-left: -5px !important;
}
.user-create-header {
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 10px !important;
}
.button-new {
  color: #fff !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(39,174,96) !important;
  height: 36px;
  font-size: 14px !important;
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  padding: 0px 14px !important;
  margin-top: 14px !important;
  margin-bottom: 18px !important;
  border-radius: 6px !important
}
.button-new:focus{
  outline: 0 !important
}
.header-search {
  text-align: left;
  padding: 0 !important;
  margin-bottom: 10px !important;
  display: flex !important;
}
h2.title-page {
  text-align: left;
  padding: 4px 0;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: -10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: rgb(8,114,146);
  margin-right: 2%;
  margin-bottom: 14px;
  margin-top: 18px
}
.default-header-title{
  align-items: center;
}
.information{
  align-items: center;
}
.icon-dropdown{
  width: 35px;
  height: 35px;
  padding: 0 !important;
}
/* .icon-dropdown:hover {
  background: rgb(43, 144, 175) !important;
} */
.icon-dropdown:focus{
  outline: 0;
}
.item-right {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin: 0 10px;
  font-size: 16px;
}
.css-page {
  background-color: rgb(33,152,188) !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 1px !important
}
.css-page > span > svg {
  margin-top: -7px !important;
  color: #fff
}
input.input-page {
  width: 48px;
  height: 30px;
  margin-left: 8px;
  vertical-align: middle;
  border: 1px solid #fff;
  padding: 8px;
  font-size: 13px !important;
  font-weight: 700;
  color: black;
  text-align: center
}
.title-popup {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
span.page-size {
  font-size: 13px !important;
  font-weight: 700;
  color: black;
  min-width: 36px;
  height: 45px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
}
.pagination-custom > td > div {
  height: 32px !important;
  padding: 0 !important;
  min-height: 32px !important;
}
.color-text-validator > p {
  margin-left: -2.5px !important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
}
.error-dob {
  font-weight: 600;
  color: #f44336;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
  padding-top: 9px;
  min-height: 1em;
  line-height: 1em;
}
.slide-table  .owl-item {
  height: 270px;
  line-height: 270px
}
.slide-table .owl-carousel .owl-item img {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}
.img-slidePage {
  width: 240px;
  max-height: 150px;
  object-fit: cover;
}
.err-slide-item{
    color: red;
    font-size: 12px;
    opacity: 1.7;
    margin-left: 13px;
}
.img-slideItem {
  max-height: 150px;
  object-fit: cover;
}
.content-inner{
  padding-left: 35px;
  padding-right: 35px
}
.margin-button {
  margin-bottom: 30px !important;
  justify-content: center !important;
}
.grid-title {
  font-weight: 400;
  font-size: 14px;
  color: black;
  padding: 0 !important;
}
::placeholder {
  font-weight: 400 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 400 !important;
}
.checkbox-popup {
  margin-top: -11px !important;
  margin-bottom: 5px !important;
  margin-left: -22px !important;
}
.icon-button {
  padding: unset !important;
  width: 36px;
  height: 36px;
}
.upload_logo_header{
  padding: 5px 12px;
}
.upload_logo_header:hover{
  cursor: pointer;
  background: aliceblue;
  border-radius: 6px;
}
button:focus{
  outline: 0 !important;
}
button.button-new.btn-login {
  width: 200px;
  height: 54px;
  margin-top: 0 !important;
}
.button-date {
  position: absolute !important;
  margin-top: 0 !important;
  right: 0;
}
.button-new-submit {
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: none !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgb(39,174,96) !important;
  height: 36px;
  font-size: 18px !important;
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  border-radius: 6px !important;
  padding-top: 1px !important;
}
.news-title div div input {
  padding: 7px 7px 6px 12px;
  font-size: 14px;
  font-weight: 600 !important;
  overflow: hidden;
  text-overflow: ellipsis;
} 
.news-title div {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /* width: 100%; */
  display: flex;
}

.search-input-custom {
  margin-left: 0px !important;
  background-color: #fff;
  margin-right: 14px !important;
}

.search-type {
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 8px;
}
.page-title {
  background-color: white !important;
  display: -webkit-box;
}
.search-name {
  font-size: 12px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -7px;
  margin-left: 2px;
}
.user-icon{
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 100%;
}
.user-icon img{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover
}
.search-input-custom > div {
  height: 32px;
  font-size: 14px;
  padding: 9px;
}
.date-picker-style-date {
  display: block !important;
}
.trim-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name-table{
  max-width: 170px ;
  text-overflow: ellipsis;
}
.react-datepicker-popper {
  position: relative;
  overflow-x: unset !important;
}
.select-group.form-group {
  margin: 0px !important;
}
.isofh-error {
  color: #f44336;
  font-weight: 600;
  font-size: 12px;
}
.select-box-no-lable .select-group.form-group label{
  display: none;
}
.isofh-ui-select .select__control {
  min-height: 32px!important;
  max-height: 32px!important;
}
.isofh-ui-select {
  height: 32px;
  color: #000 !important;
}
.select__value-container {
  padding: 2px 15px 2px 10px!important;
}
.select__placeholder {
  top: 15px !important;
}
.select-box-search {
  width: 215px !important;
}
.select__indicator .select__dropdown-indicator {
  padding: 5px !important
}
.select__indicator-separator {
  margin-top: 6px !important;
}
.select__dropdown-indicator {
  padding: 1px 7px !important;
}
.menu-name {
  padding-top: 6px;
}
.menu-title {
  font-size: 13px;
}
.border-menu {
  border: 1px solid #00000034;
  width: 15%;
  margin: 10px auto;
}
.menu-role {
  font-weight: 600;
  padding-bottom: 6px;
}
.news-title > div > p {
  margin-left:  0px !important
}
.news-title textarea{
  width: 100%;
  border-radius: 4px;
}
.table-responsive>.table-bordered{
  overflow: unset !important;
}
.select-create {
  margin-bottom: 20px;
}
.select-create .select-group.form-group > label {
  display: none;
}
.scrollbar-container.ps{
  overflow-y: auto !important;
}
.scrollbar-container::-webkit-scrollbar {
  width: 3px; 
}
.scrollbar-container::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 2px;
}
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background: #999; 
}
.app-footer{
  margin-top: 0;
}
@media (max-width: 767.98px){
  .sidebar {
    position: fixed !important;
    z-index: 1019 !important;
    width: 200px !important;
    height: calc(100vh - 55px) !important;
  }
  .sidebar-lg-show .main,
  .sidebar-lg-show .app-footer {
      position: relative;
  }
  .sidebar-lg-show .app-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.7);
  }
  .sidebar-lg-show .main::before, 
  .sidebar-lg-show .app-footer::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1018;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    -webkit-animation: opacity 0.25s;
    animation: opacity 0.25s;
  }
}

@media (min-width: 320px){
  .img-hospital{
    width: 146px;
  }
  .image-change{ 
    display: flex;
  }
  .img-hospital img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover
  }
}
@media (min-width: 480px){
  .img-hospital img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover
  }
  .img-hospital{
    margin-right: 40px;
  }
  
}
@media (min-width: 576px){
  .user-info-table {
      width: 550px;
  }
  
}
@media (min-width: 600px){
    .header>header>div{
        padding-left: 0 !important;
        min-height: 54px !important;
    }
    
}
@media (min-width: 768px){
  html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
    margin-left: 200px !important;
  }
}
@media (min-width: 992px){
  html:not([dir="rtl"]) .sidebar-minimized .sidebar {
    width: 50px !important;
  }
}
@media (min-width: 1200px){
  .table-responsive{
    position: relative;
    overflow-x: unset !important;
  }
  
}
/* chat-box */
.sc-header--img {
    border-radius: 50%;
    align-self: center;
    padding: 5px !important;
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
}
.sc-header{
  min-height: 60px !important;
  padding: 6px !important
}
/* .sc-message--avatar {
  background-image: url('/images/logo/avatar.png') !important;
} */
.react-datepicker-wrapper {
  width: 100% !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}